@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
.titulo-pedidos{
  font-family: 'PT Sans', sans-serif;
  color: rgb(255, 254, 253);
}
.App {
  text-align: center;
  background-color: #4f4f4f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input{
  border-radius: 4rem;
  padding: 0.8rem;
  background: #d1c7c7;
  color: rgb(0, 0, 0);
  margin: 3.8px;
}

button{
  border-radius: 1rem;
  padding: 0.7rem;
  background: #282c34;
  color: antiquewhite;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-list{
  background: #3a3a3a;
  border-radius: 4rem;
  margin: 10px;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  padding: 0.8rem;
  list-style-type: decimal
}


.div-titulo{
  border-radius: 5rem;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  padding: 0.1rem;
}


.Component-Title{
  border-radius: 4rem;
  color: aliceblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  padding: 0.1rem;
}
